<header>
  <div class="navbar bg-dark shadow-sm text-light">
    <div class="navbar-brand align-item-center d-flex">
      <i style="font-size: 40px" class="fas fa-shipping-fast">&nbsp; </i>
      <strong style="font-size: 30px">Flipcart</strong>
      <div class="form-group">
        <input type="text" placeholder="search product" class="form-control" />
      </div>
      <!-- <span class="fas fa-search search-icon"></span> -->
    </div>
    <button routerLink="cart" class="btn btn-warning">
      <i class="fas fa-cart-plus" style="font-size: 30px"></i>
      <div style="font-size: 10px" class="badge bg-danger">
        {{ totalItems }}
      </div>
    </button>
  </div>
</header>
